<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">It's Blogsies time!</h1>
    <p class="lead">It is time to write blogsies. Write blogsies be happies.</p>
    <hr class="my-4">
    <p id='ps-home'>P.S. If you write sad Blogsies it will make you sad, so no sad Blogsies it's against termsies and conditionies.</p>
    <a class="btn btn-primary btn-success" href="#" role="button">Sign Upsies!</a>
  </div>
</div>
